<div data-role="view" id="agendaItemView" data-layout="agendaItemLayout" data-style="inset" data-title="Agenda: Item 1 of 5" data-model="agendaItemViewModel">
    <div data-role="content" id="agendaItemViewContent" class="km-insetcontent" data-style="inset">
        <h1>New Infrastracture</h1>
        <p />        
		<div id="agendaItemDetails">
            <ul data-role="listview" id="agenda-item-listview" data-style="inset" data-template="agenda-item-listview-template" data-bind="source: agendaItemDetails" />
        </div>
        <p />
        <div align="right" style="margin-right:18px">Select preference <input data-role="switch" checked="checked"/></div>
	 </div>   
</div>

<div data-role="layout" data-id="agendaItemLayout">    
	<header data-role="header">
		<div data-role="navbar">            
            <a data-role="backbutton" data-align="left">Back</a>
			<span data-role="view-title"></span>
		</div>
	</header>    
    <footer data-role="footer">
        <div data-role="navbar">
        <a data-role="button" href="#homeView" data-icon="home" data-align="left"></a>
        </div>
    </footer>    
</div>

<script type="text/x-kendo-template" id="agenda-item-listview-template">    
    <a data-role="listview-link" href='views/agendaItemDetailView.html'>
        <div class="agendaItemInfoContainer">
            <h3 class="item-title">#:title#</h3>
        </div>
    </a>    
</script>