<div data-role="view" id="agendaItemDetailView" data-layout="agendaItemDetailLayout" data-style="inset" data-title="Agenda: Item 1 of 5">   
    <div data-role="content" class="km-insetcontent">
        <h1>Option 1: LAN</h1>
        <p />
        text text text <br />
        text text text <br />
        text text text <br />
        text text text <br />
        text text text <br />
        text text text <br />
        
        <p />
        <div align="left" style="margin-left:15px">Select preference <input data-role="switch"/></div>
	 </div>    
</div>

<!-- TODO: needs to refactor? this layout seems to be the same as with other agendaXxx views ->
<!-- TODO: strange! Back button can't be removed safely?!?-->
<div data-role="layout" data-id="agendaItemDetailLayout">      
	<header data-role="header">
		<div data-role="navbar">            
            <a data-role="backbutton" data-align="left">Back</a>
			<span data-role="view-title"></span>
		</div>
	</header>    
    <footer data-role="footer">
        <div data-role="navbar">
        <a data-role="button" href="#homeView" data-icon="home" data-align="left"></a>
        </div>
    </footer>     
</div>
