<div data-role="view" id="agendaView" data-layout="agendaLayout" data-style="inset" data-title="Agenda" data-model="agendaViewModel">   
    <div data-role="content">
		<div id="agendaItems">
            <ul data-role="listview" id="agenda-listview" data-style="inset" data-template="agenda-listview-template" data-bind="source: agendaItems" />
        </div>
	 </div>        
</div>

<!-- TODO: strange! Back button can't be removed safely?!?-->
<div data-role="layout" data-id="agendaLayout">      
	<header data-role="header">
		<div data-role="navbar">
            <a data-role="button" href="#homeView" data-icon="home" data-align="left"></a>
			<!--<a data-role="backbutton" data-align="left">Back</a>-->
			<span data-role="view-title"></span>
		</div>
	</header>
</div>
Jenn
<script type="text/x-kendo-template" id="agenda-listview-template">    
    <a data-role="listview-link" href='views/agendaItemView.html'>
        <div class="agendaInfoContainer" style="margin-top:5px;margin-bottom:5px">
            <h3 class="item-title" style="margin:0">#:title#</h3>    
            <div align="right" style="margin-right:23px">
                Jane
                <img class="person-photo" style="width:2em;height:2em" src="images/woman1.jpg" />
                <img class="clock" src="images/Clock.png" />
            </div>    
        </div>
    </a>    
</script>

