<div data-role="view" id="attendeesView" data-layout="attendeesLayout" data-style="inset" data-title="Attendance" data-model="attendeesViewModel">   
    <div data-role="content">
		<div id="attendees">
            <h4>Attendees (<span id='cntAttendees'>0</span>)</h4>
            <ul data-role="listview" id="attendees-listview" data-style="inset" data-template="persons-listview-template" data-bind="source: attendees" />
        </div>
		<div class="apologies">
            <h4>Apologies (<span id='cntApologies'>0</span>)</h4>
            <ul data-role="listview" id="apologies-listview" data-style="inset" data-template="persons-listview-template" data-bind="source: apologies" />
        </div>        
	 </div>    
</div>

<!-- TODO: strange! Back button can't be removed safely?!?-->
<div data-role="layout" data-id="attendeesLayout">      
	<header data-role="header">
		<div data-role="navbar">
            <a data-role="button" href="#homeView" data-icon="home" data-align="left"></a>
			<span data-role="view-title"></span>
		</div>
	</header>    
</div>

<script type="text/x-kendo-template" id="persons-listview-template">    
    <div class="personInfoContainer">
        <img class="person-photo" src="#:photo#" />
        <h2 class="person-name">#:firstName# #:lastName#</h2>
    </div>    
</script>
