

<div data-role="view" id="conferenceView">
     
<header data-role="header">
    <div data-role="navbar">
        <a data-role="button" href="#homeView" data-icon="home" data-align="left">Home</a>
        <a data-role="button" href="#homeView"  data-align="right">+</a>
    </div>
</header>  
    
 <article data-role="content">
     <h1>Video Conference</h1>
     
     <!--div style="margin:0.5em; padding:1px;">
         <div class="center">
         <div class="block-left" style="margin:0.2em">
               <video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="95" height="90"
              poster="http://video-js.zencoder.com/oceans-clip.png"
              data-setup='{"example_option":true}'>
               </video>      
         </div>
         <div class="block-left" style="margin:0.2em">
               <video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="95" height="90"
              poster="http://video-js.zencoder.com/oceans-clip.png"
              data-setup='{"example_option":true}'>
               </video>      
         </div>
         <div class="block-left" style="margin:0.2em">
               <video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="95" height="90"
              poster="http://video-js.zencoder.com/oceans-clip.png"
              data-setup='{"example_option":true}'>
               </video>      
         </div>
          <div class="clear"></div>
             <div class="block-left" style="margin:0.2em">
               <video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" 
              poster="http://video-js.zencoder.com/oceans-clip.png"
              data-setup='{"example_option":true}'>
               </video>      
         </div-->
             
         <div class="center">
             <image src="images/group_video_call.png" width="300" height="300"></image>
         </div>
 </article>
    
    
<footer data-role="footer">
    <div data-role="navbar">
        <a data-role="backbutton" data-align="left">Back</a>
    </div>
</footer>

</div>