<div data-role="view" id="historyView" data-title="History" data-model="historyViewModel">

  <header data-role="header">
            <div data-role="navbar">
            <a data-role="button" href="#homeView" data-icon="home" data-align="left"></a>
            <span data-role="view-title" href="#homeView"/>
            </div>
    </header>  
        
        
    <div data-role="content">
        <div id="agendaItems">
            <ul data-role="listview" id="agenda-listview" data-style="inset" data-template="agenda-listview-templatex" data-bind="source: agendaItems" />
        </div>
    </div>  
    
   <footer data-role="footer">
        <div data-role="navbar">
        <a data-role="backbutton" data-align="left">Back</a>
        </div>
    </footer> 
</div>



<script type="text/x-kendo-template" id="agenda-listview-templatex">        
    <section>
        <div style="color:gray">Agenda </div>
        <hr/>
        <h1 class="item-title">#:title#</h1>
        <ul data-role="listview" >
            <li style="font-size:small">
                <label>#:description#</label>
            </li>
            <li>
                <section>
                    Notes / Attachments
                </section>
            </li>
            <li > 
                <section style="height:90px">
                    <span class="block-left">Action Item</span>
                    <span class="block-left clear" style="font-size:small">July 3</span>
                    <aside class="block-right">
                        <span style="vertical-align:bottom;">[?]</span>
                        <img class="person-photo" src="images/dummy.png" style="width:3.5em;height:3.5em;border-radius:4px"/>                     
                    </aside>
                </section>
            </li>
            <li>
                 <section>
                    Key Decisions
                </section>
            </li>
        </ul>
    
    </section>
</script>
