<!-- THIS VIEW IS FOR TESTING ONLY -->
<script type="text/javascript" src="../viewModels/maintAttendeesViewModel.js"></script>
<div data-role="view" id="maintAttendeesView" data-title="Attendees(For Test only)" data-init="maintAttendeesViewInit">
    
 <header data-role="header">
    <div data-role="navbar">
        <a data-role="button" href="#homeView" data-icon="home" data-align="left"></a>
        <span data-role="view-title" href="#homeView"/>
    </div>
</header>  
        
        
    <div data-role="content">
        <div id="meetingItems">
            <ul data-role="listview" id="attendees-listview" data-style="inset" />
        </div>
    </div>  
    
   <footer data-role="footer">
        <div data-role="navbar">
        <a data-role="backbutton" data-align="left">Back</a>
        </div>
    </footer> 
    

<script type="text/x-kendo-template" id="attendees-listview-template">        
   
        <div>Organizer: #:FirstName#</div>    
        <div >Title: #:LastName#</div>
        <div >Location: #:IsAttending#</div>
    
    <a href="\\#" data-role="button" class="delete" >Delete</a>
    
</script>    

</div>


<div data-role="view" id="edit-detailview" data-show="detailShow1" data-init="detailInit1">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-role="backbutton" id="cancel">Cancel</a>
            <span data-role="view-title">Attendee</span>
            <a class="nav-button" data-align="right" data-role="button" id="done">Done</a>
        </div>
    </header>

    <form>
        <ul data-role="listview" data-style="inset" onclick="">
            <li>
                <label>First Name
                    <input type="text" data-bind="value: FirstName"/>
                </label>
            </li>
            <li>
                Last Name
                    <input type="text" data-bind="value: LastName"/>

            </li>
            <li>
                <label>Is Attending
                    <input data-role="switch" checked="checked"  data-bind="checked: IsAttending"/>
                </label>
            </li>
        </ul>
    </form>
    
</div>