<!-- THIS VIEW IS FOR TESTING ONLY -->


<div data-role="view" id="meetingsView" data-title="Meetings" data-init="meetingViewInit">
    
    
 <header data-role="header">
    <div data-role="navbar">
        <a data-role="button" href="#homeView" data-icon="home" data-align="left"></a>
        <span data-role="view-title" href="#homeView"/>
    </div>
</header>  
        
        
    <div data-role="content">
        <div id="meetingItems">
            <ul data-role="listview" id="meeting-listview" data-style="inset" />
        </div>
    </div>  
    
   <footer data-role="footer">
        <div data-role="navbar">
        <a data-role="backbutton" data-align="left">Back</a>
        </div>
    </footer> 
    

<script type="text/x-kendo-template" id="meeting-listview-template">        
   
        <div>Organizer: #:Organizer#</div>    
        <div >Title: #:Title#</div>
        <div >Location: #:Location#</div>
        <div >Date: #:Schedule#</div>
    
    <a href="\\#" data-role="button" class="delete" >Delete</a>
    
</script>    

</div>


<div data-role="view" id="edit-detailview" data-show="detailShow" data-init="detailInit">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-role="backbutton" id="cancel">Cancel</a>
            <span data-role="view-title">Details</span>
            <a class="nav-button" data-align="right" data-role="button" id="done">Done</a>
        </div>
    </header>

    <form>
        <ul data-role="listview" data-style="inset" onclick="">
            <li>
                <label>Organizer
                    <input type="text" data-bind="value: Organizer"/>
                </label>
            </li>
            <li>
                Title
                    <input type="text" data-bind="value: Title"/>

            </li>
            <li>
                <label>Location
                    <input type="text" data-bind="value: Location"/>
                </label>
            </li>
            <li>
                <label>Date
                    <input type="text" data-bind="value: Schedule"/>
                </label>
            </li>
        </ul>
    </form>
</div>


