<div data-role="view" id="meetingOverviewView" data-layout="meetingOverviewLayout" data-style="inset" data-title="Meeting Overview">   
    <div data-role="content">
        <div class="organizerInfoContainer" align="right" style="margin-right:5px;margin-top:5px">
            <h2 class="person-name" >Organiser: Jane Citizen</h2>
            <img class="person-photo" src="images/dummy.png" />
        </div> 
        <p />
        <div>
            <h2 align="center">WorkPac Targeted<br>Search Design</h2>
        </div>
        <div class="blockText">
            <h4>Purpose: Update Stakeholders on the progresss</h4>
            <h3>Objectives:</h3>
            <ul>
              <li>Enable RCs to better search for candidates</li>
              <li>Blah blah blah</li>
            </ul>            
        </div>        
	 </div>    
</div>

<!-- TODO: strange! Back button can't be removed safely?!?-->
<div data-role="layout" data-id="meetingOverviewLayout">      
	<header data-role="header">
		<div data-role="navbar">
            <a data-role="button" href="#homeView" data-icon="home" data-align="left"></a>
			<span data-role="view-title"></span>
		</div>
	</header>    
</div>

<style>
	.blockText {
		margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        padding: 7px;
		-webkit-box-shadow: 0 1px 3px #333;
		box-shadow: 0 1px 3px #333;
		-webkit-background-size: auto 100%;
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center center;
		-webkit-transform: translatez(0);
		vertical-align: middle;
	}       
</style>