<div data-role="view" id="organiserPerfView" data-layout="organiserPerfLayout" data-style="inset" data-title="Performance" data-model="organiserPerfViewModel">   
    <div data-role="content">        
        <div class="organizerInfoContainer" align="right" style="margin-right:5px;margin-top:5px">
            <h2 class="person-name" >Organiser: Jane Citizen</h2>
            <img class="person-photo" src="images/woman1.jpg" />
        </div>  
        <div class="performanceMetrics">
            <ul data-role="listview" id="metrics-listview" data-style="inset" data-template="metrics-listview-template" data-bind="source: metrics" />
        </div>
	 </div>    
</div>

<!-- TODO: strange! Back button can't be removed safely?!?-->
<div data-role="layout" data-id="organiserPerfLayout">      
	<header data-role="header">
		<div data-role="navbar">
            <a data-role="button" href="#homeView" data-icon="home" data-align="left"></a>
			<span data-role="view-title"></span>
		</div>
	</header>    
</div>

<script type="text/x-kendo-template" id="metrics-listview-template">    
    <div class="metricInfoContainer">
        <h3>#:criteria#</h3>
        <progress max="100" data-bind="value: weight" style="display: inline-block; vertical-align:top"></progress>
        <h2 style="display: inline-block; vertical-align:top; margin-top:0px; margin-left:10px">#:weight#%</h2>
    </div>    
</script>

<style>  
/* for my android version   
progress {    
  font-size: .6em;
  line-height: 1.5em;
  text-indent: .5em;
  width: 15em;
  height: 3em;  
  margin-left: 15px;
  border: 0px solid gray;
}
progress::-webkit-progress-bar { background: gray; }
progress::-webkit-progress-value { background: #00BFFF; }
*/
/* try my iPhone version*/
progress {    
  font-size: .6em;
  line-height: 1.5em;
  text-indent: .5em;
  width: 15em;
  height: 3em;
  margin-left: 15px;
  border: 1px solid #A4A4A4;
}
progress::-webkit-progress-bar { background: #FAFAFA; }
progress::-webkit-progress-value { background: #0080FF; }   
    
    
    
</style>

