<style>
  

#home
{
    float:left;
    display:block;
    padding: 1px;
    margin: 0.5em; 
    font-size: medium;   
}

#view-calendar
{
    float:right; 
    display:block;
    margin: 0.5em; 
    padding: 1px;
    font-size: medium;
    
    /*border:1px solid black;*/
}

.propose-change
{
    margin-top:2em;
    margin-bottom:1em;
}

.launch-conference
{
    font-size: x-small;
    margin-right:1em;
    
}


 .singleContainer
{
    margin: 15px;
    height: 170px;
}


#currentMeeting
{
    border-radius: 10px;
    height:170px;
    box-shadow: 0px 0px 2px #333;
    margin: 0.5em ;
    background-color: white;
    color:black;

}
    
#nextMeeting
{
    border-radius: 10px;
    height:170px;
    box-shadow: 0px 0px 2px #333;
    margin: 0.5em ;
    background-color: white;
    color:black;

}
    

.line-item
{
    display:block;
    /*border:1px solid black;*/
    padding:1em;
    font-size: large;
}
    
.line-item label
{
    font-size:small;
}
 
</style>



<div data-role="view" id="scheduleView" data-title="Calendar View" data-show="onScheduleViewShow" data-model="scheduleViewModel" >
    <header data-role="header">
            <div data-role="navbar">
            <a data-role="button" href="#homeView" data-icon="home" data-align="left"></a>
            <span data-role="view-title" href="#homeView"/>
            </div>
    </header>  
      
    <div data-role="content"  >    
        <div id="currentMeeting" >
			 <div class="line-item">
                <label for="frequency">Frequency:</label>
                <span id="frequency" data-bind="text: frequency"></span>
            </div>
            <div class="line-item">
                <label for="frequency">Time:</label>
                <span id="frequency" data-bind="text: time"></span>
            <span id="frequency" data-bind="text: curTimeRemaining" style="font-size:small;"></span>
            </div>
            <div class="line-item">
               <label for="frequency">Location:</label>
                <span id="frequency" data-bind="text: location"></span>
            </div>
	    </div>
        
        <div id="nextMeeting" class="singleContainer clear">
				 <div class="line-item">
                   <label for="frequency">Next Meeting:</label>
                    <span id="frequency" data-bind="text: nextTimeRemaining"></span>
                </div>
                 <div class="line-item">
                     <div  data-bind="text: distance" class="block-left" style="margin-left:0.5em;" ></div>
                    <div class="block-right">
                        <a href="views/conferenceView.html" data-role="button" >!</a>
                        
                    </div>
			    </div>
                <div class="line-item">
                        <div class="propose-change center">
                            <a href="#homeView" data-role="button" >Propose Change</a>
                        </div>
	            </div>
        </div>
     </div>
    <footer data-role="footer">
        <div data-role="navbar">
        <a data-role="backbutton" data-align="left">Back</a>
        </div>
    </footer>         
    </div>
	
   
    
  
