body
{
    font: Segoe-UI, Arial, sans-serif;
    
}

 


.clear
{
    clear:both;
     content: "";
    clear: both;
    height: 0;
    display: block;
}

 
.center
{
     display: table;
     margin: 0 auto;
}
    
.block-left
{
    float:left;
    display:block;
}

.block-right
{
    float:right;
    display:block;
}


#container
{
    margin: 0.5em;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #333;
   
}

.person-photo {
    width: 4em;
    height: 4.4em;
    margin: 0;
    -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: translatez(0);
    vertical-align: middle;
}    
.person-name {
    display: inline-block;
    margin: .5em;
    font-size: 1.1em;
}

.clock {
    width: 2em;
    height: 2em;
    margin: 0;
    display: inline-block;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: translatez(0);
    vertical-align: middle;
}    


.iconContainer
{
    height:80px;
    width:80px;
    border:solid 1px rgba(0, 0, 0, 0.4);
    border-radius:10px;
    margin-left:16px;
    margin-top:16px;
    background-color:#eee;
}

.icon-organizer
{
    height:60px;
    width:50px;
    margin: 0px auto;
    background: url("../images/imgp.png") no-repeat 0 0px;
}
    

