/*
* Kendo UI Mobile v2013.1.514 (http://kendoui.com)
* Copyright 2013 Telerik AD. All rights reserved.
*
* Kendo UI Mobile commercial licenses may be obtained at
* https://www.kendoui.com/purchase/license-agreement/kendo-ui-mobile-commercial.aspx
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
/* Common Platform CSS */
@-ms-viewport {
  width: device-width;
}
.km-root {
  font-size: .92em;
}
.km-root a {
  color: inherit;
}
.km-tablet {
  font-size: 1em;
}
.km-root *:focus {
  outline: none;
}
.km-root,
.km-pane {
  width: 100%;
  height: 100%;
  -ms-touch-action: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}
.km-pane {
  font-family: sans-serif;
}
.km-root > *,
.km-header *,
.km-footer * {
  margin: 0;
  padding: 0;
}
.km-root * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.km-view {
  top: 0;
  left: 0;
  position: absolute;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  vertical-align: top;
}
:-moz-any(.km-view,.km-pane) {
  overflow: hidden;
}
.k-ff18 *:-moz-any(.km-view,.km-pane),
.k-ff19 *:-moz-any(.km-view,.km-pane),
.k-ff20 *:-moz-any(.km-view,.km-pane),
.k-ff21 *:-moz-any(.km-view,.km-pane) {
  position: relative;
}
:-moz-any(.km-view) {
  display: -moz-inline-box;
  display: flex;
}
.km-content {
  min-height: 1px;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  flex-align: stretch;
  display: block;
  width: auto;
  overflow: hidden;
  position: relative;
}
.km-content p,
.km-content h1,
.km-content h2,
.km-content h3,
.km-content h4,
.km-content h5,
.km-content h6 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.km-header,
.km-footer {
  display: block;
  display: -moz-box;
  -moz-box-orient: vertical;
  width: 100%;
}
:-moz-any(.km-scrollview) > div {
  display: inline-block;
}
.km-header {
  padding: 0;
}
.km-footer {
  background: #1a1a1a;
}
[data-role="layout"] {
  display: none;
}
.km-tabstrip {
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-align: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  flex-align: start;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: start;
  padding: 0;
}
.km-header,
.km-footer {
  position: relative;
  z-index: 1;
}
@media all and (-webkit-min-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0) {
  .km-view {
    display: table;
  }
  .km-header,
  .km-footer,
  .km-content {
    display: table-row;
  }
  .km-header,
  .km-footer {
    height: 1px;
  }
}
.km-hide-title {
  display: none;
}
.km-show-title:after {
  display: block;
  content: "\a0";
  height: 0;
}
.km-footer .km-show-title:after {
  display: inline-block;
}
.km-view-title,
.km-dialog-title {
  position: relative;
  visibility: visible;
  text-align: center;
  font-size: 1.4em;
  line-height: 2.3em;
  margin-left: auto;
  margin-right: auto;
}
.km-horizontal .km-view-title {
  line-height: 2em;
}
.km-toolbar,
.km-navbar,
.km-button,
.km-buttongroup,
.km-tabstrip,
.km-blackberry li.km-actionsheet-cancel > a {
  background-origin: border-box;
  position: relative;
  display: inline-block;
  padding: .4em .7em;
  margin: .1rem;
  overflow: visible;
  text-decoration: none;
}
.km-buttongroup,
.km-tabstrip {
  padding: .4rem .7rem;
}
.km-horizontal .km-tabstrip {
  padding: .2rem .7rem;
}
.km-button {
  cursor: pointer;
  outline: 0;
}
.km-switch input[type=checkbox] {
  display: none;
}
.km-switch,
.km-checkbox {
  text-align: left;
  font-size: 1rem;
  display: inline-block;
  width: 6.4rem;
  height: 2rem;
  line-height: 2rem;
  position: relative;
  overflow: hidden;
}
.km-switch-wrapper,
.km-slider-wrapper {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.km-switch-background,
.km-slider-background {
  display: block;
  margin: 0 1px 1px -5em;
  height: 100%;
  width: 200%;
}
.km-switch-container {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-checkbox {
  width: 1.8rem;
  height: 1.8rem;
}
.km-checkbox-checked:after {
  content: "\a0";
  display: block;
  width: 100%;
  height: 100%;
}
.km-switch-handle {
  top: 0;
  left: 0;
  width: 2.72em;
  height: 100%;
  display: inline-block;
  margin: -1px 0 0 -1px;
  background-color: #000;
}
.km-switch-label-on,
.km-switch-label-off {
  display: block;
  width: 130%;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  position: absolute;
}
.km-switch-label-off {
  left: 104%;
}
.km-switch-label-on {
  left: -134%;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.km-badge,
.km-detail {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  position: absolute;
  z-index: 1;
  height: 2em;
  font-size: .6rem;
  text-shadow: none;
}
.km-badge {
  top: -1em;
  right: -1em;
  line-height: 2em;
  margin-left: .5em;
  min-width: .9em;
  padding: 0 .55em;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.km-detail {
  position: absolute;
  float: right;
  right: .8rem;
  top: 50%;
  margin-top: -0.7rem;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 1rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-root .km-detaildisclose {
  font-size: .8em;
}
:-moz-any(.km-detail) {
  width: 1rem;
  height: 1rem;
}
.km-listview-link:after {
  width: .5rem;
  height: .5rem;
  content: "\a0";
  display: inline-block;
  vertical-align: middle;
}
.km-listview-link:after {
  margin-left: -0.2rem;
  border-style: solid;
  border-width: .24rem .24rem 0 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.km-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.km-buttongroup {
  -webkit-margin-collapse: separate;
  margin-collapse: separate;
  margin: .5em auto;
}
.km-root .km-buttongroup {
  padding: 0;
  border-color: transparent;
  background: none;
  white-space: nowrap;
  display: table;
}
.km-buttongroup > .km-button {
  display: table-cell;
}
.km-root .km-buttongroup .km-button {
  margin: 0;
  border-width: 1px 0 1px 1px;
  padding: .48em .9em .44em;
}
.km-tablet .km-buttongroup .km-button {
  padding: .4em .8em .34em;
}
.km-root .km-navbar .km-buttongroup {
  font-size: .95rem;
  line-height: 1em;
  margin: 0 0 .2em;
  display: inline-block;
  height: 1.5em;
  top: -2px;
}
.km-tablet .km-navbar .km-buttongroup {
  top: -1px;
}
.km-root .km-navbar .km-buttongroup > .km-button {
  font-size: 1em;
  min-width: 4rem;
  text-align: center;
}
.km-tablet .km-navbar .km-buttongroup > .km-button {
  min-width: 6rem;
}
.km-view .km-buttongroup .km-button:last-child {
  border-right-width: 1px;
}
.km-scrollview {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.km-scrollview > div > * {
  -webkit-transform: translatez(0);
}
.km-scrollview > div > [data-role=page] {
  vertical-align: top;
  display: inline-block;
  min-height: 1px;
}
:-moz-any(.k-ff18,.k-ff19,.k-ff20,.k-ff21) .km-scrollview > div {
  width: 0;
}
.km-pages {
  text-align: center;
  margin: 0;
  padding: 0;
}
.km-pages li {
  display: inline-block;
  width: .5em;
  height: .55em;
  margin: 0 .3em;
}
.km-ios .km-buttongroup .km-button {
  font-size: 1.2em;
  font-weight: bold;
}
.km-ios .km-state-disabled .km-button,
.km-android .km-state-disabled .km-button,
.km-blackberry .km-state-disabled .km-button,
.km-meego .km-state-disabled .km-button {
  color: #aaa;
  text-shadow: none;
}
.km-tabstrip,
.km-toolbar,
.km-navbar {
  display: block;
  padding: .8em;
  margin: 0;
  width: 100%;
  border-width: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-tabstrip {
  text-align: center;
  word-spacing: -1em;
}
.km-tabstrip .km-button {
  word-spacing: normal;
  box-shadow: none;
  -webkit-box-shadow: none;
  vertical-align: bottom;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .km-tabstrip {
    word-spacing: normal;
    width: 100%;
  }
}
.km-toolbar,
.km-navbar {
  padding: 0;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  overflow: hidden;
  display: block;
  border-width: 0 0 1px 0;
  background-color: #fff;
}
.km-root div:-moz-any(.km-toolbar,.km-navbar) {
  overflow: visible;
}
.km-toolbar .km-button,
.km-navbar .km-button {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.km-navbar .km-no-title {
  padding-top: .7rem;
  padding-bottom: .7rem;
}
.km-horizontal .km-toolbar .km-button,
.km-horizontal .km-navbar .km-button {
  margin-top: .3rem;
  margin-bottom: .3rem;
}
.km-horizontal .km-navbar .km-no-title {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.km-tablet.km-root .km-no-title {
  padding-top: .55rem;
  padding-bottom: .55rem;
}
.km-tablet .km-navbar .km-button,
.km-tablet .km-toolbar .km-button {
  margin-top: .45rem;
  margin-bottom: .45rem;
}
.km-root .km-pane .km-navbar .km-no-title {
  visibility: visible;
  line-height: 0;
}
.km-tabstrip .km-button {
  font-family: Arial, Helvetica, sans-serif;
  color: #a8a8a8;
  padding: .4em .8em;
  border-width: 0;
  border-color: transparent;
  background: none;
  margin: 0;
  text-align: center;
}
.km-tabstrip .km-button:first-child {
  border-left: 0;
}
.km-tabstrip .km-button:last-child {
  border-right: 0;
}
/* Listview */
.km-listview-wrapper > ul:not(.km-listview) {
  margin: 0 auto;
}
.km-list,
.km-listview {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.km-listinset,
.km-listgroupinset {
  margin: 1em;
}
.km-listinset,
.km-listgroupinset .km-list {
  overflow: hidden;
}
.km-listview .km-switch {
  margin-top: -0.95rem;
  position: absolute;
  right: .8rem;
  top: 50%;
}
.km-listview .km-list {
  text-indent: 0;
}
.km-list > li,
.km-root .km-listview-link,
.km-root .km-listview-label {
  margin: 0;
  display: block;
  position: relative;
  list-style-type: none;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em .7em;
}
.km-list > li {
  line-height: 1.6em;
  overflow: hidden;
}
.km-list > li > * {
  line-height: normal;
}
.km-group-title {
  display: block;
  font-weight: bold;
  padding: .2em 0;
  text-indent: .8em;
}
.km-listgroupinset .km-group-title {
  margin-top: .65em;
  line-height: 2em;
}
.km-content .km-list > li:first-child {
  border-top: 0;
}
.km-content .km-list > li:last-child {
  border-bottom: 0;
}
.km-root .km-listview-link,
.km-root .km-listview-label {
  line-height: inherit;
  text-decoration: none;
  margin: -0.5em -0.7em;
}
.km-listview-link:after,
.km-listview-label:after {
  border-color: #777;
  content: "\a0";
  display: block;
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -0.32rem;
}
/* Filtering */
.km-filter-form {
  width: 100%;
  padding: .5em 0;
  border: 1px solid transparent;
  border-width: 1px 0;
}
.km-filter-wrap {
  position: relative;
  margin: 0 .7em;
  padding: .2em .4em;
  border: 1px solid transparent;
}
.km-root .km-filter-wrap:before {
  display: inline-block;
  vertical-align: middle;
  content: "\e0e9";
  font-size: 1.6em;
  width: 1em;
  height: 1em;
  margin-right: -1em;
  color: inherit;
}
.km-tablet .km-filter-wrap {
  max-width: 24em;
  margin: 0 auto;
}
.km-filter-wrap > input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.km-filter-wrap input {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  vertical-align: middle;
  padding: 0 1.4em;
}
.km-filter-reset {
  display: inline-block;
  margin-left: -1.6em;
  vertical-align: middle;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  height: 100%;
}
.km-filter-reset .km-clear {
  font-size: 1.6em;
  width: 1em;
  height: 1em;
  display: block;
}
.km-filter-reset > .km-text {
  position: absolute;
  top: -3333px;
  left: -3333px;
}
.km-native-scroller {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: pan-x pan-y;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-scroll-snap-type: proximity;
}
/* Pull to refresh */
.km-scroller-pull {
  width: 100%;
  display: block;
  position: absolute;
  line-height: 3em;
  font-size: 1.4em;
  text-align: center;
  -webkit-transform: translate3d(0, -3em, 0);
  -moz-transform: translate3d(0, -3em, 0);
  -ms-transform: translate3d(0, -3em, 0);
  -o-transform: translate3d(0, -3em, 0);
  transform: translate3d(0, -3em, 0);
}
.km-scroller-pull .km-template {
  display: inline-block;
  min-width: 200px;
  text-align: left;
}
.km-load-more .km-icon,
.km-root .km-scroller-pull .km-icon {
  display: inline-block;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
  width: 2rem;
  font-size: 2rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 300ms linear;
  -moz-transition: -moz-transform 300ms linear;
  -ms-transition: -ms-transform 300ms linear;
  -o-transition: -o-transform 300ms linear;
  transition: transform 300ms linear;
}
.km-root .km-scroller-release .km-icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.km-root .km-scroller-refresh .km-icon {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/* Forms and icons */
.km-default-content {
  padding: 1em;
}
.km-item label:before,
.km-item label.km-item-checked:after {
  position: absolute;
  content: " ";
  display: block;
  top: 50%;
  left: .6em;
  width: 36px;
  height: 36px;
  margin-top: -18px;
}
.km-detail .km-text {
  display: none;
}
.km-detail .km-icon,
.km-button .km-icon,
.km-list .km-icon,
.km-ios .km-button .km-icon {
  width: 1em;
  height: 1em;
  font-size: 1.3em;
  margin-left: -0.3em;
  margin-right: 0.3em;
  vertical-align: text-top;
  display: inline-block;
  background-size: auto 100%;
}
.km-root .km-view .km-notext {
  margin-left: 0;
  margin-right: 0;
}
.km-list .km-switch {
  position: absolute;
  top: 50%;
  right: .8rem;
  margin-top: -1rem;
}
.km-root .km-rowinsert:after,
.km-root .km-rowdelete:after,
.km-root .km-contactadd:after,
.km-root .km-detaildisclose:after,
.km-root .km-rowinsert:before,
.km-root .km-rowdelete:before,
.km-root .km-contactadd:before,
.km-root .km-detaildisclose:before,
.km-detail .km-icon {
  left: .15em;
  top: .15em;
  line-height: 1em;
  font-size: 1em;
  position: absolute;
}
.km-root .km-detaildisclose:after {
  left: .1em;
  top: .25em;
  text-align: center;
  font-weight: bold;
}
.km-buttongroup .km-button .km-icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
  margin: 0 .16em 0 0;
}
.km-tabstrip .km-button .km-icon {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
  margin: .1rem auto 0;
  display: block;
}
.km-phone .km-tabstrip .km-icon {
  height: 2.2rem;
  width: 2.2rem;
  font-size: 2.2rem;
}
.km-phone .km-horizontal .km-tabstrip .km-icon {
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
}
/* Slider */
.km-root .k-slider {
  width: 50%;
  height: .6em;
  line-height: .6em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.km-list .k-slider {
  position: absolute;
  right: 0;
  margin-top: -0.5em;
  top: 50%;
}
.km-root .k-slider-track {
  left: 1em !important;
  width: auto !important;
  right: 1em;
  height: 100%;
  display: block;
  position: absolute;
}
.km-root .k-slider-track,
.km-root .k-slider-selection {
  margin-top: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}
.km-root .k-slider-selection {
  top: 0;
  height: 100%;
}
.km-root .k-slider-items {
  margin: 0;
}
.km-root .k-slider .k-draghandle {
  top: -0.35em;
  left: 0;
  width: 1.2em;
  height: 1.2em;
  display: block;
  position: absolute;
}
.km-root .k-slider-tooltip {
  display: none;
}
/* Scroller */
.km-touch-scrollbar {
  position: absolute;
  visibility: hidden;
  z-index: 200000;
  height: .4em;
  width: .4em;
  background-color: #333;
  opacity: 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.km-vertical-scrollbar {
  height: 100%;
  right: 2px;
  top: 0;
}
.km-horizontal-scrollbar {
  width: 100%;
  left: 0;
  bottom: 2px;
}
.km-scrollview,
.km-scroll-container {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: -moz-none;
  -webkit-margin-collapse: separate;
  margin-collapse: separate;
}
.km-scroll-wrapper {
  position: relative;
}
.km-scroll-header {
  position: absolute;
  z-index: 1001;
  width: 100%;
  top: 0;
  left: 0;
}
/* Navbar */
.km-leftitem,
.km-rightitem {
  z-index: 1;
  position: absolute;
  right: .5em;
}
.km-popup .km-rightitem {
  right: 0;
}
.km-leftitem {
  left: .5em;
  right: auto;
}
.km-popup .km-leftitem {
  left: 0;
}
/* Dialog */
.km-dialog {
  position: absolute;
  min-width: 19em;
  max-width: 25em;
  overflow: hidden;
}
.km-dialog-title {
  position: static;
  float: none;
  height: 2.6em;
  margin-top: -2.6em;
  font-size: 1.22em;
  line-height: 3em;
}
.km-dialog:before {
  content: "\a0";
  display: block;
  overflow: visible;
  width: 100%;
  height: 3em;
  opacity: .2;
}
.km-dialog-content {
  font-weight: normal;
  min-height: 2em;
  text-align: center;
}
.km-dialog .km-button {
  display: block;
  margin: .4em;
  font-size: 1.3em;
  text-align: center;
  padding: .44em;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Loader */
.km-loader {
  top: 50%;
  left: 50%;
  width: 180px;
  height: 130px;
  opacity: .85;
  z-index: 100000;
  padding: 30px 30px;
  position: absolute;
  margin-top: -70px;
  margin-left: -90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: black;
}
.km-loader h1 {
  font-size: 1.6em;
  color: white;
  text-align: center;
  margin-top: 10px;
}
.km-loader .km-loading,
.km-load-more .km-icon,
.km-scroller-refresh .km-icon {
  animation: km-spin 1s infinite linear;
  -moz-animation: km-spin 1s infinite linear;
  -webkit-animation: km-spin 1s infinite linear;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  font-size: 35px;
}
.km-loader .km-loading:after,
.km-load-more .km-icon:after {
  color: #ccc;
}
@-webkit-keyframes km-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes km-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes km-spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes km-spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes km-ios-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  8.32% {
    -webkit-transform: rotate(0deg);
  }
  8.33% {
    -webkit-transform: rotate(30deg);
  }
  16.65% {
    -webkit-transform: rotate(30deg);
  }
  16.66% {
    -webkit-transform: rotate(60deg);
  }
  24.99% {
    -webkit-transform: rotate(60deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  33.32% {
    -webkit-transform: rotate(90deg);
  }
  33.33% {
    -webkit-transform: rotate(120deg);
  }
  41.65% {
    -webkit-transform: rotate(120deg);
  }
  41.66% {
    -webkit-transform: rotate(150deg);
  }
  49.99% {
    -webkit-transform: rotate(150deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  58.32% {
    -webkit-transform: rotate(180deg);
  }
  58.33% {
    -webkit-transform: rotate(210deg);
  }
  66.65% {
    -webkit-transform: rotate(210deg);
  }
  66.66% {
    -webkit-transform: rotate(240deg);
  }
  74.99% {
    -webkit-transform: rotate(240deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  83.32% {
    -webkit-transform: rotate(270deg);
  }
  83.33% {
    -webkit-transform: rotate(300deg);
  }
  91.65% {
    -webkit-transform: rotate(300deg);
  }
  91.66% {
    -webkit-transform: rotate(330deg);
  }
  99.99% {
    -webkit-transform: rotate(330deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/* Form elements */
.km-list input[type=text]:not(.k-input),
.km-list input[type=password],
.km-list input[type=search],
.km-list input[type=number],
.km-list input[type=tel],
.km-list input[type=url],
.km-list input[type=email],
.km-list input[type=file],
.km-list input[type=month],
.km-list input[type=color],
.km-list input[type=week],
.km-list input[type=date],
.km-list input[type=time],
.km-list input[type=datetime],
.km-list input[type=datetime-local],
.km-list select:not([multiple]),
.km-list .k-dropdown,
.km-list textarea {
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  line-height: normal;
  z-index: 1;
  right: 0;
  margin-top: -1em;
}
.km-root .k-slider .k-tick,
.km-root .k-slider .k-label,
.km-root .k-slider .k-button {
  display: none;
}
.km-list textarea {
  position: relative;
  width: -webkit-calc(50% + .7em);
  width: -moz-calc(50% + .7em);
  width: calc(50% + .7em);
  margin-right: -0.7em;
}
.km-list input,
.km-list select,
.km-list textarea,
.km-list input[type=checkbox],
.km-list input[type=radio] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.km-list input[type=checkbox],
.km-list input[type=radio] {
  position: absolute;
  top: 50%;
  right: .7em;
  margin-top: -0.5em;
  background: none;
}
.km-root input,
.km-root textarea {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.km-root input[readonly],
.km-root select:not([multiple]) {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.km-list textarea {
  top: 0;
}
.km-list .k-dropdown {
  line-height: 1.4em;
}
.km-list .k-dropdown,
.km-list .k-dropdown .k-input {
  background-color: transparent;
}
.km-root .k-dropdown-wrap {
  display: inline-block;
}
.km-root .km-listview-label:after,
.km-root input ~ .km-listview-link:after,
.km-root textarea ~ .km-listview-link:after,
.km-root select ~ .km-listview-link:after,
.km-root .k-dropdown ~ .km-listview-link:after {
  display: none;
}
.km-root .k-dropdown select,
.km-root .k-dropdown .k-select {
  display: none;
}
.km-root .km-list textarea {
  position: relative;
  float: right;
  margin-top: 0;
  font-family: inherit;
}
/* PopUp + ActionSheet */
.km-root .km-popup .k-item,
.km-actionsheet > li {
  list-style-type: none;
  padding: inherit 1em;
  border-bottom: 1px solid #555;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-actionsheet > li {
  line-height: 2em;
  border-bottom: 0;
}
.km-root .km-popup .k-list,
.km-actionsheet {
  padding: 0;
  margin: 0;
}
.km-root .km-popup .k-item:last-child,
.km-actionsheet > li:last-child {
  border: 0;
}
.km-shim {
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10001;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-shim .k-animation-container,
.km-actionsheet-wrapper {
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
}
.km-shim .k-animation-container {
  width: auto;
}
/* Checkboxes and Radios */
.km-listview-label input[type=radio],
.km-listview-label input[type=checkbox] {
  border: 0;
  font-size: inherit;
  width: 1em;
  height: .9em;
}
/* Load more */
.km-load-more {
  display: block;
  padding: .3em 0 1.2em;
  height: 2.6em;
  text-align: center;
}
/* SplitView */
.km-root div.km-splitview {
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.km-root .km-splitview.km-split-vertical {
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.km-splitview > .km-pane {
  -moz-box-flex: 2;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  width: auto;
  height: auto;
}
.km-splitview > .km-pane:first-child {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.km-split-horizontal > .km-pane {
  height: 100%;
}
.km-split-vertical > .km-pane > .km-view {
  display: -webkit-box;
}
.km-pane {
  position: relative;
}
/* PopOver */
.km-popup-wrapper,
.km-modalview-wrapper {
  z-index: 10001;
  position: relative;
  background: none;
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.km-popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
.km-popup-arrow,
.km-popup-arrow:after,
.km-down .km-popup-arrow:before {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  z-index: 2;
}
.km-left .km-popup-arrow,
.km-right .km-popup-arrow {
  margin-top: -8px;
}
.km-up .km-popup-arrow,
.km-down .km-popup-arrow {
  margin-left: -8px;
}
.km-popup-arrow:after,
.km-down .km-popup-arrow:before {
  display: block;
  content: "\a0";
  width: 0;
  height: 0;
}
.km-up .km-popup-arrow {
  top: auto;
  bottom: 0;
}
.km-left .km-popup-arrow {
  left: auto;
  right: 0;
}
.km-popup.km-pane {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 100px;
}
/* ModalView */
.km-modalview,
.km-modalview-wrapper:before {
  overflow: hidden;
  position: relative;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.km-modalview .km-content {
  box-flex: 1;
}
.km-modalview-wrapper:before {
  margin-left: -1px;
  content: "\a0";
  width: 0px;
  display: inline-block;
}
/* Stretched View */
.km-stretched-view {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.km-stretched-view > * {
  width: 100%;
}
/* Platform specific workarounds */
.km-on-wp .km-view,
.km-on-wp .km-header,
.km-on-wp .km-footer,
.km-on-wp .km-slider,
.km-on-wp .km-switch,
.km-on-wp .km-filter-reset,
.km-on-wp .km-shim .k-animation-container,
.km-on-wp .km-scroll-container {
  transform: translateZ(0);
}
.km-pane,
.km-on-ios .km-view,
.km-on-ios .km-header,
.km-on-ios .km-footer,
.km-on-ios .km-slider,
.km-on-ios .km-switch,
.km-on-ios .km-group-title,
.km-on-ios .km-list > li,
.km-on-ios .km-filter-reset,
.km-on-ios .km-shim .k-animation-container,
.km-on-ios .km-scroll-container,
.km-on-blackberry .km-view,
.km-on-blackberry .km-content,
.km-on-blackberry .km-header,
.km-on-blackberry .km-footer,
.km-on-blackberry .km-icon,
.km-on-blackberry .km-switch,
.km-on-blackberry .km-popup .k-item,
.km-on-blackberry .km-actionsheet-wrapper {
  -webkit-transform: translatez(0);
}
.km-on-meego,
.km-on-android {
  -webkit-transform: none;
}
.km-on-android.km-2 .km-header,
.km-on-android.km-2 .km-footer,
.km-on-android .km-switch,
.km-on-android.km-2 .km-list > li,
.km-on-android.km-3 .km-listview-wrapper,
.km-on-android.km-4 .km-listview-wrapper,
.km-on-android.km-4 .km-content,
.km-on-android .km-switch-handle,
.km-android.km-on-android .km-switch-wrapper,
.km-on-android .km-scroll-container,
.km-on-meego .km-content,
.km-on-meego .km-switch,
.km-on-meego .km-icon,
.km-on-meego .km-header,
.km-on-meego .km-footer,
.km-on-meego .km-content,
.km-on-meego .km-switch-handle,
.km-on-meego .km-switch-wrapper {
  -webkit-transform: translatez(0);
  -webkit-backface-visibility: hidden;
}
.km-on-android.km-4 {
  -webkit-transition: -webkit-transform 0.0001ms;
}
.km-on-android.km-4 input {
  -webkit-user-modify: read-write-plaintext-only;
}
.km-on-android.km-2 .km-list > li,
.km-on-android.km-3 .km-list > li {
  bottom: 10000px;
  -webkit-transform: translatey(10000px);
  -moz-transform: translatey(10000px);
  -ms-transform: translatey(10000px);
  -o-transform: translatey(10000px);
  transform: translatey(10000px);
}
.km-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 100000;
}
.k-ff .km-scroll-container {
  padding-bottom: 20px;
}
.km-wp .km-view .km-absolute,
.km-meego .km-view .km-absolute {
  position: absolute;
}
/* Icon Masks */
@font-face {
  font-family: "Kendo UI";
  src: url("images/KendoUI.woff") format("woff"), url("images/KendoUI.ttf") format("truetype");
}
body:before {
  font-family: "Kendo UI";
  content: "\a0";
  font-size: 0;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}
.km-root .km-pane .km-view .km-icon {
  -webkit-background-clip: text;
  background-size: 0 0;
}
.km-icon {
  position: relative;
}
.km-icon:after,
.km-icon:before,
.km-contactadd:after,
.km-contactadd:before,
.km-rowdelete:after,
.km-rowdelete:before,
.km-rowinsert:after,
.km-rowinsert:before,
.km-detaildisclose:after,
.km-detaildisclose:before,
.km-loading:after,
.km-filter-wrap:before {
  position: relative;
  content: "\a0";
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: middle;
  background-size: auto;
  font: 1em/1em "Kendo UI";
}
.km-icon:before,
.km-contactadd:before,
.km-rowdelete:before,
.km-rowinsert:before,
.km-detaildisclose:before {
  position: absolute;
  margin-top: 1px;
  color: rgba(0, 0, 0, 0.7);
  display: none;
}
.km-state-active .km-icon:before,
.km-state-active .km-contactadd:before,
.km-state-active .km-rowdelete:before,
.km-state-active .km-rowinsert:before,
.km-state-active .km-detaildisclose:before {
  display: block;
}
:-webkit-any(.km-ios):not(.km-android):not(.km-blackberry6):not(.km-blackberry7):not(.km-meego) .km-icon:after,
:-webkit-any(.km-blackberry):not(.km-android):not(.km-blackberry6):not(.km-blackberry7):not(.km-meego) .km-icon:after {
  background-image: inherit;
  background-repeat: inherit;
  background-position: inherit;
  background-color: currentcolor;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.km-on-blackberry.km-blackberry6 .km-view .km-icon,
.km-on-blackberry.km-blackberry7 .km-view .km-icon,
.km-on-blackberry.km-ios .km-view .km-icon,
.km-on-ios.km-ios4 .km-view .km-icon,
.km-root .km-on-android .km-view .km-icon,
.km-root .km-on-meego .km-view .km-icon {
  background: default;
}
.km-root .km-pane.km-on-blackberry.km-blackberry6 .km-view .km-icon:after,
.km-root .km-pane.km-on-blackberry.km-blackberry7 .km-view .km-icon:after,
.km-root .km-pane.km-on-ios.km-ios4 .km-view .km-icon:after,
.km-root .km-pane.km-pane.km-on-android .km-view span.km-icon:after,
.km-root .km-pane.km-pane.km-on-meego .km-view span.km-icon:after {
  background: default;
  -webkit-text-fill-color: inherit;
}
.km-contactadd:after,
.km-contactadd:before,
.km-rowinsert:after,
.km-rowinsert:before {
  content: "\E039";
}
.km-rowdelete:after,
.km-rowdelete:before {
  content: "\E03a";
}
.km-detaildisclose:after,
.km-detaildisclose:before {
  content: "\E0E2";
}
.km-action:after,
.km-action:before {
  content: "\e0ca";
}
.km-add:after,
.km-add:before {
  content: "\e0cb";
}
.km-battery:after,
.km-battery:before {
  content: "\e0ce";
}
.km-bookmarks:after,
.km-bookmarks:before {
  content: "\e0cf";
}
.km-camera:after,
.km-camera:before {
  content: "\e0d0";
}
.km-cart:after,
.km-cart:before {
  content: "\e0d1";
}
.km-edit:after,
.km-compose:after,
.km-edit:before,
.km-compose:before {
  content: "\e0d5";
}
.km-contacts:after,
.km-contacts:before {
  content: "\e0e4";
}
.km-trash:after,
.km-delete:after,
.km-trash:before,
.km-delete:before {
  content: "\e0ec";
}
.km-details:after,
.km-details:before {
  content: "\e0e2";
}
.km-download:after,
.km-downloads:after,
.km-download:before,
.km-downloads:before {
  content: "\e0d4";
}
.km-fastforward:after,
.km-fastforward:before {
  content: "\e0d9";
}
.km-toprated:after,
.km-favorites:after,
.km-toprated:before,
.km-favorites:before {
  content: "\e0d7";
}
.km-featured:after,
.km-featured:before {
  content: "\e0d8";
}
.km-globe:after,
.km-globe:before {
  content: "\e0dc";
}
.km-history:after,
.km-history:before {
  content: "\e0e7";
}
.km-home:after,
.km-home:before {
  content: "\e0dd";
}
.km-info:after,
.km-about:after,
.km-info:before,
.km-about:before {
  content: "\e0de";
}
.km-more:after,
.km-more:before {
  content: "\e0e0";
}
.km-mostrecent:after,
.km-mostrecent:before {
  content: "\e0cc";
}
.km-mostviewed:after,
.km-mostviewed:before {
  content: "\e0d6";
}
.km-organize:after,
.km-organize:before {
  content: "\e0eb";
}
.km-pause:after,
.km-pause:before {
  content: "\e0e3";
}
.km-play:after,
.km-play:before {
  content: "\e0e5";
}
.km-recents:after,
.km-recents:before {
  content: "\e0d2";
}
.km-refresh:after,
.km-refresh:before {
  content: "\e0e6";
}
.km-reply:after,
.km-reply:before {
  content: "\e0ed";
}
.km-rewind:after,
.km-rewind:before {
  content: "\e0e8";
}
.km-search:after,
.km-search:before {
  content: "\e0e9";
}
.km-settings:after,
.km-settings:before {
  content: "\e0da";
}
.km-share:after,
.km-share:before {
  content: "\e0df";
}
.km-sounds:after,
.km-volume:after,
.km-sounds:before,
.km-volume:before {
  content: "\e0ef";
}
.km-stop:after,
.km-stop:before {
  content: "\e0ea";
}
.km-wifi:after,
.km-wifi:before {
  content: "\e0f0";
}
.km-android .km-more:after,
.km-android .km-more:before {
  content: "\e0e1";
}
.km-meego .km-more:after,
.km-meego .km-more:before {
  content: "\e0f1";
}
.km-ios .km-loading:after,
.km-ios .km-load-more .km-icon:after,
.km-ios .km-scroller-refresh .km-icon:after {
  content: "\e0f7";
}
.km-wp .km-loading:after,
.km-wp .km-load-more .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
}
.km-meego .km-loading:after,
.km-meego .km-load-more .km-icon:after,
.km-meego .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
}
.km-root .km-android .km-loading:after,
.km-android .km-load-more .km-icon:after,
.km-root .km-android .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
}
.km-blackberry .km-loading:after,
.km-blackberry .km-load-more .km-icon:after,
.km-blackberry .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
  color: inherit;
}
.km-scroller-pull .km-icon:after {
  content: "\e0f2";
}
.km-wp .km-scroller-pull .km-icon:after {
  content: "\E0D4";
}
.km-on-wp.km-app .km-icon:after,
.km-on-wp.km-app .km-filter-wrap:before,
.km-on-wp.km-app .km-state-active .km-icon:after {
  color: transparent;
  background-image: url("images/wp8_icons.png");
  background-size: auto 100%;
  height: 1em;
  margin-top: 0;
  vertical-align: middle;
}
.km-wp-light.km-app .km-icon:after,
.km-wp-light.km-app .km-filter-wrap:before {
  background-image: url("images/wp8_inverseicons.png");
}
.km-on-wp.km-app .km-icon {
  line-height: 1em;
}
.km-on-wp.km-app .km-icon:before {
  display: none;
}
.km-on-wp.km-app .km-action:after {
  background-position-x: 20%;
}
.km-on-wp.km-app .km-add:after,
.km-on-wp.km-app .km-filter-reset .km-clear:after {
  background-position-x: 22%;
}
.km-on-wp.km-app .km-battery:after {
  background-position-x: 24%;
}
.km-on-wp.km-app .km-bookmarks:after {
  background-position-x: 26%;
}
.km-on-wp.km-app .km-camera:after {
  background-position-x: 28%;
}
.km-on-wp.km-app .km-cart:after {
  background-position-x: 30%;
}
.km-on-wp.km-app .km-edit:after,
.km-on-wp.km-app .km-compose:after {
  background-position-x: 32%;
}
.km-on-wp.km-app .km-contacts:after {
  background-position-x: 34%;
}
.km-on-wp.km-app .km-trash:after,
.km-on-wp.km-app .km-delete:after {
  background-position-x: 36%;
}
.km-on-wp.km-app .km-details:after {
  background-position-x: 38%;
}
.km-on-wp.km-app .km-download:after,
.km-on-wp.km-app .km-downloads:after {
  background-position-x: 40%;
}
.km-on-wp.km-app .km-fastforward:after {
  background-position-x: 42%;
}
.km-on-wp.km-app .km-toprated:after,
.km-on-wp.km-app .km-favorites:after {
  background-position-x: 44%;
}
.km-on-wp.km-app .km-featured:after {
  background-position-x: 46%;
}
.km-on-wp.km-app .km-globe:after {
  background-position-x: 48%;
}
.km-on-wp.km-app .km-history:after {
  background-position-x: 50%;
}
.km-on-wp.km-app .km-home:after {
  background-position-x: 52%;
}
.km-on-wp.km-app .km-info:after,
.km-on-wp.km-app .km-about:after {
  background-position-x: 54%;
}
.km-on-wp.km-app .km-more:after {
  background-position-x: 56%;
}
.km-on-wp.km-app .km-mostrecent:after {
  background-position-x: 58%;
}
.km-on-wp.km-app .km-mostviewed:after {
  background-position-x: 60%;
}
.km-on-wp.km-app .km-organize:after {
  background-position-x: 62%;
}
.km-on-wp.km-app .km-pause:after {
  background-position-x: 64%;
}
.km-on-wp.km-app .km-play:after {
  background-position-x: 66%;
}
.km-on-wp.km-app .km-recents:after {
  background-position-x: 68%;
}
.km-on-wp.km-app .km-refresh:after {
  background-position-x: 70%;
}
.km-on-wp.km-app .km-reply:after {
  background-position-x: 72%;
}
.km-on-wp.km-app .km-rewind:after {
  background-position-x: 74%;
}
.km-on-wp.km-app .km-search:after,
.km-on-wp.km-app .km-filter-wrap:before {
  background-position-x: 76%;
}
.km-on-wp.km-app .km-settings:after {
  background-position-x: 78%;
}
.km-on-wp.km-app .km-share:after {
  background-position-x: 80%;
}
.km-on-wp.km-app .km-sounds:after,
.km-on-wp.km-app .km-volume:after {
  background-position-x: 82%;
}
.km-on-wp.km-app .km-stop:after {
  background-position-x: 84%;
}
.km-on-wp.km-app .km-wifi:after {
  background-position-x: 86%;
}
.km-on-wp.km-app.km-android .km-more:after {
  background-position-x: 88%;
}
.km-on-wp.km-app.km-meego .km-more:after {
  background-position-x: 90%;
}
.km-on-wp.km-app.km-ios .km-loading:after,
.km-on-wp.km-app.km-ios .km-load-more .km-icon:after,
.km-on-wp.km-app.km-ios .km-scroller-refresh .km-icon:after {
  background-position-x: 92%;
}
.km-on-wp.km-app.km-meego .km-loading:after,
.km-on-wp.km-app.km-meego .km-load-more .km-icon:after,
.km-on-wp.km-app.km-meego .km-scroller-refresh .km-icon:after {
  background-position-x: 94%;
}
.km-on-wp.km-app.km-blackberry .km-loading:after,
.km-on-wp.km-app.km-blackberry .km-load-more .km-icon:after,
.km-on-wp.km-app.km-blackberry .km-scroller-refresh .km-icon:after {
  background-position-x: 98%;
}
.km-on-wp.km-app .km-scroller-pull .km-icon:after {
  background-position-x: 100%;
}
.km-on-wp.km-app .km-filter-wrap:before {
  display: inline-block;
  content: "\a0";
}
.km-on-wp.km-app .km-filter-reset .km-clear:after {
  transform: rotate(45deg);
}
